// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color:#fff;
$card-border:#dbe4eb;
$card-bgcolor:#f7f7f7;
$card-bgclose:#ff0000;
$card-bgadd: #008000;
$card-bgexport:#008fff;
$bg-addnew:#4ae324;
$bg-image-top: #beb2b266;
$bg-image-bottom:#ffff0042;
