@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, rgba(190, 178, 178, 0.4), rgba(255, 255, 0, 0.2588235294));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.main-top-section {
  display: flex;
  position: relative;
  height: 100vh;
}
.main-top-section .items {
  min-width: 250px;
  border: 1px solid #dbe4eb;
  margin: 10px;
  border-radius: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}
.main-top-section .items__column1-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px;
  background-color: #dbe4eb;
}
.main-top-section .items__column1-text p {
  flex: 1;
  text-align: center;
}
.main-top-section .items__column1-text .remove-card-a {
  cursor: pointer;
  background-color: #ff0000;
  padding: 4px 6px;
  color: #fff;
  border-radius: 2px;
}
.main-top-section .items__column1-text .add-card-a {
  cursor: pointer;
  background-color: #008000;
  padding: 4px 6px;
  color: #fff;
  border-radius: 2px;
}
.main-top-section .items__card {
  margin: 8px;
  border: 1px solid #dbe4eb;
  border-radius: 0px 0px 6px 6px;
}
.main-top-section .items__card__innercard {
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
}
.main-top-section .items__card__innercard p {
  text-align: center;
  flex: 1;
}
.main-top-section .items__card__innercard a {
  cursor: pointer;
  color: #ff0000;
}
.main-top-section .items__card__description {
  padding: 10px;
}
.main-top-section .add-menu {
  position: fixed;
  right: 100px;
  bottom: 28px;
}
.main-top-section .add-menu button {
  font-size: 12px;
  background-color: #4ae324;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  height: 40px;
  width: 80px;
  cursor: pointer;
  border-radius: 4px;
}
.main-top-section .db-menu {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.main-top-section .db-menu button {
  font-size: 10px;
  background-color: #008fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  cursor: pointer;
  color: #fff;
}

.new-card-form__add {
  background-color: #4ae324;
  text-align: center;
  padding: 4px 0px;
  color: #fff;
}

.alert-danger {
  margin-top: 5px;
}
.alert-danger .invalid-feedback {
  color: #ff0000;
  text-align: center;
}

.add-form {
  padding: 20px;
  margin-top: 30px;
}
.add-form__group {
  display: flex;
  flex-direction: column;
}
.add-form__group label {
  padding-top: 10px;
}
.add-form__group input {
  border: 1px solid #000;
  height: 40px;
}
.add-form__btn {
  margin-top: 45px;
  text-align: end;
}
.add-form__btn button {
  padding: 12px 22px;
  background-color: #008000;
  color: #fff;
  cursor: pointer;
}
.add-form .invalid-feedback {
  color: #ff0000;
  text-align: center;
}
